* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.flatpickr-input {
  width: 290px;
  margin-bottom: 15px;
}

.timer {
  display: flex;
}

.field:not(:first-child) {
  margin-left: 20px;
}

.sales-text {
  font-weight: 800;
  font-size: 20px;
}
